body{font-family: "Microsoft YaHei" ! important; color:#666; }
input{font-family: "Helvetica Neue", Arial, Helvetica, sans-serif;}
a{text-decoration:none; color:#60ace8; cursor:pointer;}
input{outline:none;}
input:focus{
-webkit-tap-highlight-color:rgba(0,0,0,0);
-webkit-user-modify:read-write-plaintext-only;
}
a:hover{
color:#60ace8;
}
a:focus {
outline: thin dotted;
outline: 5px auto -webkit-focus-ring-color;
outline-offset: -2px;
}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{
  margin:0;
  padding:0
}
.table {
	border: 0px; 
	border-right: 1px solid #e8e8e8;
	border-top: 1px solid #e8e8e8;
	border-spacing: 0;
	table-layout: fixed;
}

fieldset,img {
  border:0
}
address,caption,cite,code,dfn,em,strong,th,var {
  font-style:normal;
  font-weight:400
}
li {
  list-style:none
}
caption,th {
  text-align:left
}
h1,h2,h3,h4,h5,h6 {
  font-size:100%;
  font-weight:400
}

.clearfix:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }
.clearfix::before, .clearfix::after {
display: table;
content: "";
line-height: 0;
}
ul.listLateral li{float:left;list-style:none; display:inline-block;}
.firstLi {
margin-top: 0!important;
}
.lastLi {
margin-bottom: 0!important;
padding-bottom: 0!important;
}
 
.order_gb{ width: 100%; margin: 5px 0px auto 15px; padding-bottom: 10px; background: #fff;}
.order_gb .title{ margin: 10px auto; text-align: center; font-size: 24px; color: #000;}
.order_gb .content{ width: 100%; margin: 0 auto;}
.order_gb .content h3{ margin-bottom: 24px; padding-bottom: 6px; border-bottom: 1px solid #000; color: #000; font-size: 16px;width:97%;}
.order_gb .content .comp_name{ float: left; font-size: 24px; color: #000; margin-bottom: 8px;}
.order_gb .content .order_time{ float: right; margin-top: 5px; font-size: 15px; color: #333;width: 400px}
.order_gb .content .qgray{ width: 94%; height: 80px; padding: 0 15px; background: #f2f2f2;}
.order_gb .content .qgray li{ }
.order_gb .content .qgray li .num{ }
/*--------------×Ê¹ÜÕËµ¥*/
.order_gb .content .qgray_d{ float: left; width: 98px; height: 43px; line-height: 43px; margin: 8px 8px 32px 0; padding-left: 15px; border: 1px solid #e8e8e8; background: #e4e4e4; font-size: 17px; color: #333;}
.order_gb .content .qgray_l{ float: left; width: 78%; height: 43px; line-height: 43px; margin: 8px 0 32px 0; padding-left: 10px; border: 1px solid #e8e8e8; background: #e4e4e4; font-size: 12px; color: #333;}
.order_gb .content .qgray_l li{ float: left; width: 33%; font-size: 10px;}
.order_gb .content .tc_table{ margin-bottom: 34px; border-bottom: 1px solid #e8e8e8; font-size: 14px; color: #333;}
.order_gb .content .tc_table li{ float: left; width: 480px; height: 38px; padding-left: 160px; border: 1px solid #e8e8e8; border-bottom: none; line-height: 38px; background: #fff;}
.order_gb .content .tc_table li.th{ width: 295px; padding-left: 66px; background: #fcfcfc; border-right: none;}
.order_gb .content .order_gb_table{ width: 98%; margin-bottom: 30px; border: 1px solid #e8e8e8; color: #333; font-size: 14px;table-layout: fixed;page-break-inside: avoid;}
.order_gb .content .order_gb_table tr th{ height: 40px; line-height: 40px; border-right: 1px solid #e8e8e8; border-bottom: 1px solid #e8e8e8; background: #fcfcfc; text-align: center;}
.order_gb .content .order_gb_table tbody tr td{ height: 40px; line-height: 40px; border-right: 1px solid #e8e8e8; border-bottom: 1px solid #e8e8e8;border-top: 1px solid #e8e8e8; background: #fff; text-align: center;word-break: break-all; word-wrap: break-word;}
.order_gb .content .order_gb_table tr td p{ margin: 10px 0; line-height: 16px;}
.order_gb .content .order_gb_table tfoot tr td p{ height: 16px; line-height: 17px; margin-right: 10px; text-align: right;}

.pay_table{
	margin-top: 10px;
	margin-bottom: 10px;
	width: 97%;
	table-layout: fixed;
	line-height:30px;
	background: #f2f2f2;
}

.pay_table .title{
	text-align: left;
	font-size: 16px; 
}

.pay_table .content{
	text-align: left;
	font-size: 24px;
}

.qgray_table{
	margin-top: 10px;
	margin-bottom: 20px;
	width: 100%;
	table-layout: fixed;
	line-height:30px;
	background: #e4e4e4; 
}

.qgray_table th {
	vertical-align:middle;
	font-size: 18px; 
	color: #333;
}

.qgray_table td {
	font-size: 16px;
	word-break: break-all; 
	word-wrap: break-word;
}

.qgray_inner_table{ 
	margin-left: 10px;
	border: 0px; 
	table-layout: fixed;
	line-height:30px;
	table-layout: fixed;
}

.qgray_inner_table td {
	width: 10%;
	word-break: break-all; 
	word-wrap: break-word;
	font-size: 14px;
}

.gridtable {
	margin-top: 10px;
	margin-bottom: 20px;
	width:100%;
	border: 0px; 
	border-right: 1px solid #e8e8e8;
	border-top: 1px solid #e8e8e8;
	border-spacing: 0;
	table-layout: fixed;
}

.gridtable tr {
	
}

.gridtable th {
	border: 0px; 
	border-left: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	background: #fcfcfc;
	font-size: 14px;
	line-height: 30px;
}

.gridtable td {
	border: 0px; 
	border-left: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	word-break: break-all; 
	word-wrap: break-word;
	font-size: 14px;
	line-height: 30px;
}


.order_gb .content h4{ margin-top: -10px; margin-bottom: 12px; font-size: 14px; color: #333;}
.order_gb .content .z_title{ margin-bottom: 14px; color: #000; font-size: 16px;}
.order_gb .content .zd_zn{ margin-bottom: 25px;}
.order_gb .content .zd_zn li{ margin-bottom: 10px; margin-left: 15px; list-style: disc; font-size: 14px; color: #333;}
.order_gb .content .normal_pro .t_title{ margin-top: 15px; margin-bottom: 10px; font-weight: 700; font-size: 18px; color: #000;}
.order_gb .content .normal_pro p{ margin-left: 14px; margin-bottom: 8px; font-size: 14px; color: #333;}

.h_totalwidth{
	width:auto; 
	padding:20px;
}
